body{
    color: black;
    background: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.container{
    display: inline-block;
    width: 80%;
    border: 2px solid black;
    margin: auto;
}

h1{
    font-size: 5rem;
}
#cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background: blueviolet;
}

#cabecera h2{
    margin: 0;
    
}